* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open sans';
}

.clearfix::after {
    content: '';
    display: table;
    clear: both; 
}

.colonna {
    padding: 0.5em;
    line-height: 50px;
}
.intestazione-pagina, .barra-di-navigazione {
    width: 100%;
}

.barra-di-navigazione, .link-barra-di-navigazione {
    height: 50px;
}

#img-logo {
    height: 100%;
    vertical-align: middle;
}

.float-sinistra {
    float: left;
}

.float-destra {
    float: right;
}

 .elenco-link, li {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
}

.link-barra-di-navigazione {
    text-decoration: none;
    cursor: pointer;
    color: black;
    padding: 1em 0.5em;
}




