* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.margine-centrale {
    margin: 0 2.6em;
}


.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.width-80 {
    width: 80%;
}

.width-70 {
    width: 70%;
}
.width-50 {
    width: 50%;
}

.width-30 {
    width: 30%;
}

.padding {
    padding: 0.5em 0;
}

.centratura {
    margin: 0 auto;
}

.testo-centrato {
    text-align: center;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both; 
}

.cta {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: blue;
    cursor: pointer;
    padding: 0.5em 1em;
}

.colonna {
    padding: 0.5em;
    line-height: 50px;
}

.cta:hover {
    filter: opacity(80%);
}


.barra-di-navigazione {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}

#img-logo {
    height: 100%;
    vertical-align: middle;
}

.float-sinistra {
    float: left;
}

.float-destra {
    float: right;
}

.elenco-link, .lista-elementi {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
}

.link-barra-di-navigazione {
    text-decoration: none;
    cursor: pointer;
    color: black;
    padding: 1.3em 0.5em;
    margin: 0 1em;
}

.link-barra-di-navigazione:hover {
    border-bottom: 2px solid grey;
}

 .jumbotron { 
     background-color: lightblue;
     padding: 3em;
     position: relative;
 }

 .titolo-pagina.width-80.centratura h1 {
     font-size: 3.6em;
 }

 .testo-jumbo {
     margin: 2em 0;

 }

 .annullamento, .testo-jumbo {
     font-size: 0.8em;
 }

 .annullamento {
     margin: 1em 0;
     display: inline-block;
 }

 #freccia {
     font-size: 2em;
     text-decoration: none;
     cursor: pointer;
     color: black;
 }

 #img-jumbo {
     width: 46%;
     max-width: 50%;
     position: absolute;
     top: 14.5em;
     right: 12em;
 }

.contenitore-main {
    margin: 10em;
}

.contenitore-sezione-tariffe.width-70.centratura > h2 {
    font-size: 1.8em;
}

form {
    margin: 2em 0 1em 0;
}

.tipologia-abbonamento {
    width: 100%;
    border-bottom: 1px solid grey;
    padding: 0.5em 1em;
}

.titolo-categoria, 
.alternativa, 
.caratteristiche-piano {
    margin-left: 1em;
    margin-bottom: 2em;
}

.pacchetto, .prezzo {
    font-weight:900;
}

.servizio {
    font-size: 0.8em;
    color: lightgray;
    margin-bottom: 1.5em;
}

.utente, 
.spazio-di-archiviazione,
.funzionalità {
    font-weight: normal;
}

.alternativa {
    margin-top: 2em;
}

.contenitore-cta { 
    text-align: center;
}

.linea {
    padding: 1em 0.5em 1.5em 0;
    border-bottom: 1px solid lightgray;
}

.acquista, .fa-check {
    color: blue;
}

.lista-punti-di-forza {
    list-style-type: none;
}

.punti-di-forza {
    padding: 1em 0;
    font-weight: normal;
}

.colonna-tariffa {
    height: 80vh;
    border: 1px solid gray;
    margin-bottom: 1em;
}

.contatti {
    border: 1px solid grey;
    position: relative;
}

.testo-contatti {
    font-weight: normal;
    font-size: small;
}

.elementi {
    padding: 1em 0;
}

.contenitore-contatti {
    margin-left: 1em;
}

.absolute {
    position: absolute;
    top: 3.5em;
    right: 1em;
}