* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.margine-centrale {
    margin: 0 5%;
}

.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.width-80 {
    width: 80%;
}

.width-70 {
    width: 70%;
}

.width-60 {
    width: 60%;
}

.width-50 {
    width: 50%;
}

.width-30 {
    width: 30%;
}

.width-25 {
    width: 25%;
}

.width-20 {
    width: 20%;
}

.padding {
    padding: 0.5em 0;
}

.centratura {
    margin: 0 auto;
}

.testo-centrato {
    text-align: center;
}

.verde {
    background-color: greenyellow;
}

.marrone {
    background-color: brown;
}

.light-blue {
    background-color: lightblue;
}

.rosso {
    background-color: red;
}

.blu {
    background-color: blue;
}

.giallo {
    background-color: yellow;
}

.celeste {
    background-color: turquoise;
}

.nero {
    background-color: black;
}

.no-margine {
    margin: 0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both; 
}

.cta {
    /* display: inline-block; */
    text-decoration: none;
    color: white;
    background-color: blue;
    cursor: pointer;
    padding: 0.5em 1em;
}

.cta:hover {
    filter: opacity(80%);
}

.barra-di-navigazione {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;  
    height: 70px;
    line-height: 52px;

}

#img-logo {
    height: 100%;
    vertical-align: sub;
}

.float-sinistra {
    float: left;
}

.float-destra {
    float: right;
}

.elenco-link, .lista-elementi {
    display: inline-block;
    list-style-type: none;
    height: 100%;
}

.link-barra-di-navigazione {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: black;
    /* padding: 1.3em 0.5em; */
    height: 100%;
    margin: 1em 1em;
}

.link-barra-di-navigazione:hover {
    border-bottom: 2px solid grey;
}

 .jumbotron { 
     min-height: 50vh;
     background-color: lightblue;
     padding: 3em;
     position: relative;
 }

 .titolo-pagina.width-80.centratura h1 {
     font-size: 3.6em;
 }

 .testo-jumbo {
     margin: 2em 0;

 }

 .annullamento, .testo-jumbo {
     font-size: 0.8em;
 }

 .annullamento {
     margin: 1em 0;
     display: inline-block;
 }

 #freccia {
     font-size: 2em;
     text-decoration: none;
     cursor: pointer;
     color: black;
 }

 #img-jumbo {
     width: 55%;
     /* max-width: 50vw; */
     position: absolute;
     top: 15em;
     right: 8em;
 }

.contenitore-main {
    margin-top: 10em;
}

.contenitore-sezione-tariffe.width-70.centratura > h2 {
    font-size: 1.8em;
}

form {
    margin: 2em 0 1em 0;
}

.tipologia-abbonamento {
    width: 100%;
    border-bottom: 1px solid grey;
    padding: 0.5em 1em;
}

.titolo-categoria, 
.alternativa, 
.caratteristiche-piano {
    margin-left: 1em;
    margin-bottom: 2em;
}

.pacchetto, .prezzo {
    font-weight:900;
}

.servizio {
    font-size: 0.8em;
    color: lightgray;
    margin-bottom: 1.5em;
}

.utente, 
.spazio-di-archiviazione,
.funzionalità {
    font-weight: normal;
}

.alternativa {
    margin-top: 2em;
}

.contenitore-cta { 
    text-align: center;
}

.linea {
    padding: 1em 0.5em 1.5em 0;
    border-bottom: 1px solid lightgray;
}

.acquista, .fa-check {
    text-decoration: none;
    color: blue;
}

.lista-punti-di-forza {
    list-style-type: none;
}

.punti-di-forza {
    padding: 1em 0;
    font-weight: normal;
}

.colonna-tariffa {
    min-height: 70vh;
    height: 80vh;
    border: 1px solid gray;
    margin-bottom: 1em;
}

.contatti {
    border: 1px solid grey;
    position: relative;
}

.testo-contatti {
    font-weight: normal;
    font-size: small;
}

.elementi {
    padding: 1em 0;
}

.contenitore-contatti {
    margin-left: 1em;
}

.absolute {
    position: absolute;
    top: 3.5em;
    right: 1em;
}

.img {
    width: 100%;
}

.contenitore-sezione-partner {
    margin-top: 3em;
}

.colonna-destra {
    padding: 2em;
}

.contenitore-cta-bianco .cta.bianco {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: normal;
}

.colonna-destra > h2, p {
    margin: 1em 0;
} 

.colonna-destra > p {
    font-weight: normal;
}

.titolo-sezione {
    margin: 2em 0;
}

.riga-superiore {
    margin-right: 2em;
}


.contenitore-informazioni {
    margin-top: 5em;
}

.colonna-informazioni > h3 {
    font-size: 2em;
}

.link-clienti {
    margin-top: 1em;
}

.link-clienti a {
    color: blue;
}

.partner {
    margin:2em 0 0 0;
}

.contenitore-immagini > img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert();
}

.contenitore-immagini {
    text-align: center;
    height: 200px;
    position: relative;
}

.colonna-partner-centrale {
    padding: 3em 3em 0 3em;
}

.contenitore-img-partner-centrale{
    width: 7em;
}

.img-partner-centrale {
    width: 100%;
    padding: 2em 0;
    border-bottom: 1px solid grey;
}

.contenitore-testo-partner {
    margin: 2em 0;
    overflow: auto;
    height: 150px;   
}

.colonna-prova-gratuita .cta.bianco {
    display: inline-block;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: normal;
    padding: 0.5em 6em;
}

.contenitore-colonne-flottanti {
    padding: 7em 0;

}
.colonna-prova-gratuita {
    text-align: right;
}

.sezione-prova-gratuita {
    margin-bottom: 2em;
}

.domanda, .freccia {
    display: inline-block;
}

.domanda {
    text-align: left;
}

.freccia {
    text-align: right;
}

.contenitore-domanda {
    line-height: 5em;
    border-top: 1px solid lightgray;
}

.finale {
    border-bottom: 1px solid lightgray;
}

.domande-frequenti > h3 {
    margin: 2em 0;
}

.liste-elementi {
    list-style-type: none;
    text-align: left;
}

.elementi {
    padding: 0.2em 0;  
    font-weight: normal;
}

.liste-elementi li a {
    text-decoration: none;
    color: white;
}

.liste-elementi li a:hover {
    text-decoration: underline;
}

 .contenitore-footer h3 {
    color: white ;
    padding: 1em 0;
}

.contenitore-footer {
    margin: 6em 0 0 0;
    padding: 5em 0;
}

.contenitore-lingua > span {
    margin-left: 0.3em;
}

.contenitore-lingua {
    color: lightgray;
    margin: 7em 6em 0 0;
    padding: 3em 0 0 0;
    border-top: 1px solid lightgray;
}